{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
  <h1>Confirmation de la commande</h1>
      <nav>
      <a href="/admin/">Admin</a> |
      <a href="/welcome/">Page d'accueil</a> | 
      <a href="/paiement/">Paiement</a> | 
      <a href="/">Reset</a>
    </nav>
    <h2>checkout ID</h2>
  <p>{{ checkout_id }}</p><br>
  <p>{{ checkout_status }}</p><br>
  
  <div class="error-icon">x</div>
  <p>Echec du paiement</p>
</div>  

</body>
</html>