{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="container">
  <h2>Echec de la commande</h2>
      <nav>
      <a href="/welcome/">Page d'accueil</a> | 
      <a href="{% url 'paiement' client_ref=client_ref %}">Retour à la page de paiement</a> | 
      <a href="/">Recommencer la réservation</a>
    </nav>

  <div class="box-highlight-nok">

  <div class="error-icon">x</div>
  <h1>Echec du paiement</h1>
  <p>Malheureusement, votre paiement n'a pas pu être traité.</p>
  <p>Veuillez vérifier vos informations de paiement et réessayer.</p>
</div> 
</div> 

</body>
</html>