{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Formulaire de contact</title>
    <!-- On relie ton CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">

  <h2>Génération de facture</h2>
    <nav>
      <a href="{% url 'paiement_resultat' client_ref=client_ref %}">← Retour à l'aperçu</a>
    </nav>

<form id="trajetForm" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
    <br>
    <br>
    <p class="note"> En soumettant ce formulaire, j'accepte que mes informations soient utilisées uniquement dans le cadre de ma réservation</p>
</form>

{% if success_message %}
  <p>{{ success_message }}</p>
  <div>
      <a href="{% url 'download_pdf_facture' client_ref=client_ref %}" class="btn-link">
        Télécharger la facture au format PDF
    </a>
  </div>
{% endif %}

</div>
</body>
</html>