{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<title>MESLÉ VTC</title>
<link rel="stylesheet" href="{% static 'css/vtc_landing_2.css' %}">
</head>

<body>

<header class="topbar">
    <div class="logo">MESL[é] VTC</div>
    <a href="#" class="btn">Réserver</a>
</header>

<p class="subtitle">
    Privatisez un véhicule avec chauffeur pour des trajets en toute sérénité
</p>

<!-- SLIDER -->
<section class="slider">
    <div class="slides" id="slides">

    {% for text, path in image_dict.items %}
        <div class="slide">
            <img src="{{ path }}">
            <div class="slide-text">{{ text }} </div>
        </div>
    {% endfor %}

    </div>
</section>

<!-- FOOTER -->
<footer class="footer">
    
    <div class="num">
    <img class=icon src="{% static 'images/icons/appel-telephonique.png' %}" alt="appel telephonique">
    <div class="phone">06 44 72 39 35 <span>en direct</span></div>
    </div>
    
    
    <div class="socials">
        <span>Suivez notre actualité</span>

        <div class="icons">
            <a href="#"><img src="{% static 'images/icons/facebook.png' %}" class=icon alt="facebook"></a>
        </div>
    </div>
</footer>

<script>
let index = 0;
const slides = document.getElementById("slides");
const total = document.querySelectorAll(".slide").length;

setInterval(() => {
    index = (index + 1) % total;
    slides.style.transform = `translateX(-${index * 100}%)`;
}, 5000);
</script>

</body>
</html>