{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Réservation d'un trajets</title>
    <!-- On relie ton CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>


<body>
  <div class="container">
    <h1>Réservation de trajet</h1>
    <nav>
      <a href="{% url 'welcome' %}">Page d'accueil</a> | 
      <a href="{% url 'reservation' %}">Nouvelle Demande</a>
    </nav>

    <!-- Messages Django -->
    {% if messages %}
      {% for message in messages %}
        <p class="{{ message.tags }}">{{ message }}</p>
      {% endfor %}
    {% endif %}



{% if trajet %}
  <div class="trajet-container">
    <div id="apercu">
      <div id="map"></div>
      <br>
      <h2>Votre prestation</h2>
      <p><b>Trajet : </b>{{ trajet.type_trajet }}</p>
      {% if form.info_message %}
    <div class="alert alert-info">{{ form.info_message }}</div>
      {% endif %}
      <p><b>Heure : </b>{{ trajet.date_aller }}</p>
      <p><b>Départ : </b>{{ trajet.adresse_depart }}</p>
      <p><b>Arrivée : </b>{{ trajet.adresse_arrivee }}</p>
      <p><b>Distance </b>{% if  trajet.type_trajet == "Aller-Retour" %}(Aller){% endif %} : {{ trajet.distance_km }} km</p>
      <p><b>Durée </b>{% if  trajet.type_trajet == "Aller-Retour" %}(Aller){% endif %} : {{ trajet.duree_min_aller }} min</p>
      <p><b>Coût estimé : </b>{{ trajet.price_euros }} € {% if  trajet.type_trajet == "Aller-Retour" %}(Aller-Retour){% endif %} </p>
    </div>
  </div>
{% endif %}


    <!-- Formulaire -->
<form id="trajetForm" method="POST">
  {% csrf_token %}
    {% if trajet %}
    <button name="btnConfirmer" type="submit">Confirmer la réservation</button>

    <button type="button" id="toggleForm">Modifier la préstation ⯆</button>
    {% endif %}
    
    <div id="formCollapse" class="{% if trajet %}collapsed{% endif %}">

    {{ form.as_p }}
  
  <p class="note">Notes :</p>
  <p class="note">Bagages autorisés : 1 bagage cabine par personne</p>
  <p class="note">Véhicule utilisé pour la préstation : {{ vehicle }} immatriculé : {{ vehicle_immatriculation }}</p>
  <p class="note">{{ name }} sera chargé de la prestation, et s'assurera de votre bon voyage</p>
  

    <button name="btnPrevisualiser" type="submit">Prévisualiser la course</button>
    </div>  <!-- fin collapsible -->
</form>

  <footer>
    &copy; {{ current_year }} - Réservation de trajets. Tous droits réservés.
  </footer>

  <script async src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=places&callback=initMap"></script>
  <script src="{% static 'script.js' %}"></script>
</body>

</html>
