{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Confirmation</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
    <br>
      <nav>
      <a href="/welcome/">Page d'accueil</a> | 
      <a href="/">Nouvelle Demande</a>
    </nav>
    </div>
    <div class="box-highlight-ok">
    <div class="success-icon">✓</div>

    <h2>
        Commande validée,<br>
        merci M. {{ client_name }}.
    </h2>

    <p class="note_center">
        Un email de confirmation a été envoyé à {{ email_client }}.<br>
        Votre référence client est : <strong>{{ client_ref }}</strong><br><br>
        Vous pouvez maintenant télécharger vos documents ci dessous :
    </p>
    <div class="action-buttons">
    <a  class="btn-link" href="{% url 'download_pdf_reservation' client_ref=client_ref %}">
        Télécharger le bon de réservation
    </a>

    <a  class="btn-link" href="{% url 'facture_generation' client_ref=client_ref %}">Demander une facture</a>
    </div>
    </div>
    </div>
</body>
</html>
